<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueSense | Suppliser Register</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

</head>

<body>

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="https://i.imgur.com/lA2rNAq.png" alt="Your Company">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Create a new account
            </h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" hx-target="#response" hx-post="https://bluesense-api.vercel.app/api/water-suppliers"
                hx-trigger="submit" hx-ext="json-enc">
                <div>
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                    <div class="mt-2">
                        <input id="email" name="email" type="email" autocomplete="email" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2">
                    </div>
                </div>
                <div>
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                    <div class="mt-2">
                        <input id="password" name="password" type="password" autocomplete="email" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2">
                    </div>
                </div>
                <div>
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
                        up</button>
                </div>
            </form>
            <div id="response" class="bg-green-100"></div>

            <p class="mt-10 text-center text-sm text-gray-500">
                Have account?
                <a href="/supplier/auth" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sign
                    in</a>
            </p>
        </div>
    </div>

</body>

<script>
    htmx.on("htmx:responseError", function (evt) {
        var errdiv = document.getElementById("response");
        errdiv.innerHTML = `
        <div id="message_alert" class="container mt-3 mb-3 alert bg-red-100" role="alert">
            <h4>Request Error: ` + evt.detail.xhr.status + `
                <span style="float:right;"><a onclick="message_alert_off()">Close [X]</a></span>
            </h4>
            <code>` + evt.detail.xhr.responseText + `</code>
        </div>`;
        message_alert_on();
    });

    function message_alert_on() {
        document.getElementById("message_alert").style.display = "block";
    }

    function message_alert_off() {
        document.getElementById("message_alert").style.display = "none";
    }
</script>

</html>